.card {
  background-color: #ffffff;
  max-height: 373px;
  overflow-y: hidden;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}
.card-expanded {
  max-height: 800px;
  transition: max-height 1s ease-in-out;
}
.card-list-time,
.card-list-item {
  display: flex;
  flex-direction: row;
}
.card-list-item {
  border-top: 1px solid var(--dark-gray);
}
.card-list-item:last-child {
  border-bottom: 1px solid var(--dark-gray);
}
.card-list-month {
  border-right: 1px solid var(--dark-gray);
  text-align: center;
}
.card-list-day {
  margin-bottom: 5px;
  color: #666666;
}
.card-list-month,
.card-list-time {
  padding: 15px 20px;
}
.card-sold-out {
  color: #333333;
  font-size: 14px;
  padding: 8px 8px 4px;
  width: 110px;
  text-align: center;
}
.card-sold-out-time {
  text-decoration: line-through;
}
